<form
	action='https://backendfinal-production-c834.up.railway.app/api/session/login'
	,
	method='post'
>
	<input name='email' value='email' />
	<input name='password' value='password' />
	<button value='submit'>Logear</button>
	<button><a
			href='https://backendfinal-production-c834.up.railway.app/api/session/github'
		>Logear con GitHub</a></button>

</form>