<form action='http://localhost:8080/api/session/login' , method='post'>
	<input name='email' value='email' />
	<input name='password' value='password' />
	<button value='submit'>Logear</button>
	<button><a href='http://localhost:8080/api/session/github'>Logear con GitHub</a></button>

</form>