<h1>Tu id de compra es: {{ticketDTO.id}} </h1>
<h2>El codigo de compra es: {{ticketDTO.code}}</h2>
<p>Te va a llegar la factura a tu mail: {{ticketDTO.purchaser}}</p>
<p>y el total de tu compra es de: ${{ticketDTO.amount}} </p>